<header>
  <h1>{{project.name}}</h1><br>
  <main>{{project.description}}</main>
</header>
  <a href="/">
      <button>All projects</button>
  </a>
<div class="app">
  <div class="containers">
    
<div class="container" id="toDoDiv" state="todo">
  <h2>To-Do</h2>
  <form action="/projects/{{project.id}}/tasks" method="POST">
    <label>
      Description:
      <input type="text" name="description">
    </label><br>
    <label>Assigned To:
      <select name="UserId" id="UserId">
        {{#each users}}
      <option name="UserId" value={{this.id}}>{{this.name}}</option>
        {{/each}}
      </select>
    </label>
    <button type="submit">Add task</button>
  </form>
    {{#each columns.todo}}
      <div class="draggable task" draggable="true" taskId="{{this.id}}">
        <p>{{this.description}}</p>
         <p>  <img class= "img" src="{{this.User.avatar}}" alt="avatar-img"> {{this.User.name}}</p> 
         <a href="/tasks/{{this.id}}/delete">❌</a> 
      </div>
    {{/each}}
</div>

<div class="container" state="inProgress">
  <h2>In progress</h2>
    {{#each columns.inProgress}}
      <div class="draggable task" draggable="true" taskId="{{this.id}}">
        <p>{{this.description}}</p>
        <p>  <img class= "img" src="{{this.User.avatar}}" alt="avatar-img"> {{this.User.name}}</p> 
         <a href="/tasks/{{this.id}}/delete">❌</a> 
      </div>
    {{/each}}
</div>

<div class="container" state="done">
  <h2>Done</h2>
      {{#each columns.done}}
      <div class="draggable task" draggable="true" taskId="{{this.id}}">
        <p>{{this.description}}</p>
        <p>  <img class= "img" src="{{this.User.avatar}}" alt="avatar-img"> {{this.User.name}}</p> 
         <a href="/tasks/{{this.id}}/delete">❌</a> 
      </div>
    {{/each}}
</div>


</div>
</div>
<script src="/script.js" defer></script>
