<header>
  <h1>{{project.name}}</h1>
</header>
<div class="app">
  <div class="containers">

<div class="container" id="toDoDiv">
  <h2>To-Do</h2>
  <form action="/projects/{{project.id}}/tasks" method="POST">
    <label>
      Description:
      <input type="text" name="description">
    </label><br>
    <label>Assigned To:
      <select name="UserId" id="UserId">
        {{#each users}}
      <option name="UserId" value={{this.id}}>{{this.name}}</option>
        {{/each}}
      </select>
    </label>
    <button type="submit">Add task</button>
  </form>
    {{#each columns.todo}}
      <div class="draggable task" draggable="true" taskId="{{this.id}}">
        <p>{{this.description}}</p>
        <p>{{this.User.name}}</p>
         <a href="/tasks/{{this.id}}/delete">❌</a> 
      </div>
    {{/each}}
</div>

<div class="container">
  <h2>In progress</h2>
    {{#each columns.inProgress}}
      <div class="task" taskId="{{this.id}}">
        <p class="draggable task" draggable="true">{{this.description}}</p>
      </div>
    {{/each}}
</div>

<div class="container">
  <h2>Completed</h2>
      {{#each columns.done}}
      <div class="task" taskId="{{this.id}}">
        <p class="draggable task" draggable="true">{{this.description}}</p>
      </div>
    {{/each}}
</div>


</div>
</div>
<script src="/script.js" defer></script>